/* -------- NAVBAR SECTION -------- */
.mainNav {
  background-color: #253668;
}
/* ----- Nav TOP ----- */
/* Logos */
.logoNavTop {
  height: 4rem;
}
/* Iconos FB IG & YT */
.circle-icon {
  width: 0.5rem;
  height: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* tamaño cuadro redes */
.btn-group-custom {
  transform: scale(0.57);
  background-color: #1e2a57;
}
/* circulos */
.btn-group-custom a {
  margin: 0.3rem 1rem;
}

/* ----- Nav BOT ----- */
/* Iconos */
.nav-item img {
  width: 2rem;
}
/* Pag-activa */
.borderActive-Nav {
  border-bottom: 3px solid #ff9805;
  width: 6rem;
}
/* iconos P-IPG, BADyG e INFOR */
.nav-item .iconUnic-sm {
  transform: scale(0.7);
}
/* text-icon */
.nav-item p {
  margin-bottom: 0;
  color: white;
  font-weight: 500;
}
.nav-item.active p {
  color: #42c3ae;
}
/* hover icon */
.nav-link:hover {
  transform: scale(1.1);
}

/*----------- Login -----------*/
body {
  background-color: #f1f1f1;
}
/* contenedor completo */
.inside-main {
  transform: scale(1.3) !important;
}
/* imagen */
.imgLogoLogin {
  height: 6rem;
}
/* fuente titulo/sub */
.custom-font {
  color: #42c3ae;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  /* font-family: 'Paytone One', sans-serif; */
  font-size: 0.97rem;
  font-weight: 500;
}
.bg-tit {
  /* background-color: #253668; */
  background-color: #1e2a57;
}
/* main */
main {
  /* height: calc(100vh - 729px); */
  height: 77vh;
}

/* contenedor completo */
.inside-main {
  width: 25rem;
}

/* input */
.input-bg {
  background-color: #f1f1f1;
}
.custom-shadow {
  box-shadow: 1px 1px 3px #cdcdcd;
}
/* icons */
i {
  color: #1e2a57;
}

/* margin content */
.mrg-content {
  margin: 0 3rem;
}

/* boton */
.btnLogin {
  /* font-family: 'Paytone One', sans-serif; */
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.2rem 2.2rem;
  background-color: #42c3ae;
}

/* dispositivos pequeños - De 576px a 767px de ancho */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* login */
}

/* dispositivos medianos (md) - De 768px a 991px de ancho */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* contenedor completo */
  .inside-main {
    transform: scale(1.7) !important;
  }
}

/* dispositivos largos (lg) - De 992px a 1199px de ancho */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* contenedor completo */
  .inside-main {
    transform: scale(1.8) !important;
  }
}

/* dispositivos extra largos (xl) - 1200px de ancho en adelante */
@media (min-width: 1200px) {
  .inside-main {
    transform: scale(1.4) !important;
  }
}
